DISCORD_GUILD_ID=
QUICK_NEWS_CF_ACCESS_CLIENT_ID=
QUICK_NEWS_CF_ACCESS_CLIENT_SECRET=
BASE_API_URL=
SENTRY_DSN=
SENTRY_ENVIRONMENT=
SENTRY_TRACES_SAMPLE_RATE=

VITE_VAPID_PUBLIC_KEY=
VITE_BASE_API_URL=${BASE_API_URL}
VITE_SENTRY_DSN=${SENTRY_DSN}
VITE_SENTRY_ENVIRONMENT=${SENTRY_ENVIRONMENT}
VITE_SENTRY_TRACES_SAMPLE_RATE=${SENTRY_TRACES_SAMPLE_RATE}
